extends layout 

block content 
    h1=title 
    - let results = dishResults
    div.container-fluid 
        div.row 
            each item, index in results
                div.col-sm-2(onclick=`buy(${index})`) Dish: #{item["dishName"]} <br> Price: #{item["price"]} <br> Main Ingredient: #{item["mainIngredient"]}
    

    script. 
        function buy(index) {
            alert("You purchased item " + index)
        }